<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-appliedrec-plugins-verid" version="4.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Ver-ID</name>
    <js-module name="Ver-ID" src="www/Ver-ID.js">
        <clobbers target="window.verid" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="VerIDPlugin">
                <param name="android-package" value="com.appliedrec.plugin.VerIDPlugin" />
            </feature>
        </config-file>
        <edit-config target="AndroidManifest.xml" parent="/manifest/uses-sdk" mode="overwrite">
            <uses-sdk android:minSdkVersion="14" />
        </edit-config>
        <edit-config target="AndroidManifest.xml" parent="/manifest/uses-permission" mode="overwrite">
            <uses-permission android:name="android.permission.CAMERA" />
        </edit-config>
        <source-file src="src/android/com/appliedrec/plugin/VerIDPlugin.java" target-dir="src/com/appliedrec/plugin" />
        <framework src="src/android/verid.gradle" custom="true" type="gradleReference" />
        <framework src="com.appliedrec:verid:4.8.4" />
        <resource-file src="VerIDModels" target="assets/VerIDModels" />
    </platform>

    <platform name="ios">
        <hook type="before_plugin_install" src="hooks/platformversion.js" />
        <hook type="before_plugin_install" src="hooks/swiftversion.js" />
        <hook type="before_plugin_install" src="hooks/copypodsetup.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="VerIDPlugin">
                <param name="ios-package" value="VerIDPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/VerIDPlugin.swift" />
        <resource-file src="VerIDModels"/>
        <framework src="Ver-ID" type="podspec" spec="~> 3.5" />
    </platform>
</plugin>
